.uploadOuterContainer {
	$width: min(100%, 500px);
	$height: calc($width * 0.75);

	min-width: $width;
	min-height: $height;
}

.uploadInnerContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

.noFilesNotification {
	position: absolute;
	bottom: -5em;

	&:before {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 0;

		$triangle-size: 7px;
		border-bottom: $triangle-size solid rgb(115, 115, 115);
		border-left: $triangle-size solid transparent;
		border-right: $triangle-size solid transparent;
	}
}

@keyframes gradientOpacity {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.05;
	}
	100% {
		opacity: 0.1;
	}
}

.gradient {
	--size: 10em;
	--speed: 15s;
	--easing: ease-in-out;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	//width: var(--size);
	//height: var(--size);
	filter: blur(calc(var(--size) / 5)) contrast(100%);
	background-image: linear-gradient(rgb(55, 235, 169, 75), rgb(91, 55, 235, 75));
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	animation: gradientOpacity var(--speed) var(--easing) infinite;
}